//==========================================================================
// Variables
//==========================================================================

$vr-ms-ratio: $golden !global;
$vr-base-font-size: 14px !global;
$vr-base-size: 20px !global;
$vr-base-line-height: ($vr-base-size/$vr-base-font-size) !global;
