// Returns a two-element list containing the normalized fraction and exponent of number.
// @param {Number} $num
// @return {List} fraction, exponent

@function frexp ($num) {
  $exp: 0;
  @if $num < 0 {
    $num: $num * -1;
  }

  @if $num < .5 {
    @while $num < .5 {
      $num: $num * 2;
      $exp: $exp - 1;
    }
  } @else if $num >= 1 {
    @while $num >= 1 {
      $num: $num / 2;
      $exp: $exp + 1;
    }
  }

  @return $num, $exp;
}
