// Generate value from significand and exponent
// Returns the result of multiplying x (the significand)
// by 2 raised to the power of exp (the exponent).
// @param {Number} $num
// @param {Number} $exp
// @return {Number}

@function ldexp ($num, $exp) {
  $b: if($exp >= 0, 2, 1 / 2);
  @if $exp < 0 {
    $exp: $exp * -1;
  }
  @while $exp > 0 {
    @if $exp % 2 == 1 {
      $num: $num * $b;
    }
    $b: $b * $b;
    $exp: floor($exp * .5);
  }
  @return $num;
}
